<swiper
    [config]="config">
    <ng-template swiperSlide>
        <div class="main swiper-slide">
            <div class="left-side">
                <div class="main-wrapper">
                    <h3 class="main-header">Decora Styles</h3>
                    <h1 class="main-title">Bracelets</h1>
                    <h2 class="main-subtitle">€ 59.90</h2>
                </div>
                <div class="main-content">
                    <div class="main-content__title">Gentle and light-weight decorations that fit everyone.
                    </div>
                    <div class="main-content__subtitle">The product of a specialized manufacturing process that we've
                                                        developed over many years.
                    </div>
                    <div class="more-menu">
                        Shop Now
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7"
                             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <line x1="-5" y1="12" x2="19" y2="12"/>
                            <line x1="15" y1="16" x2="19" y2="12"/>
                            <line x1="15" y1="8" x2="19" y2="12"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="right-side__img">
                    <img class="bottle-bg"
                         src="../../../assets/braclete.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="main swiper-slide">
            <div class="left-side">
                <div class="main-wrapper">
                    <h3 class="main-header">Decora Styles</h3>
                    <h1 class="main-title">Rings</h1>
                    <h2 class="main-subtitle">€ 39.90</h2>
                </div>
                <div class="main-content">
                    <div class="main-content__title">Each confetti ring is unique, one-of-a-kind and unpredictable.
                    </div>
                    <div class="main-content__subtitle">A sparkle of white blue hues and white cast into 18K gold narrow for
                                                        a romantic and timeless ring just perfect to stuck on its own.
                    </div>
                    <div class="more-menu">
                        Shop Now
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7"
                             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <line x1="-5" y1="12" x2="19" y2="12"/>
                            <line x1="15" y1="16" x2="19" y2="12"/>
                            <line x1="15" y1="8" x2="19" y2="12"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="right-side__img">
                    <img class="bottle-bg"
                         src="../../../assets/ring.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="main swiper-slide">
            <div class="left-side">
                <div class="main-wrapper">
                    <h3 class="main-header">Decora Styles</h3>
                    <h1 class="main-title">Necklaces</h1>
                    <h2 class="main-subtitle">€ 49.90</h2>
                </div>
                <div class="main-content">
                    <div class="main-content__title">Designs that will stay in heart for many years.
                    </div>
                    <div class="main-content__subtitle">Purchase an adorable and luxury necklaces with classically styled
                                                        styled features.
                    </div>
                    <div class="more-menu">
                        Shop Now
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7"
                             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <line x1="-5" y1="12" x2="19" y2="12"/>
                            <line x1="15" y1="16" x2="19" y2="12"/>
                            <line x1="15" y1="8" x2="19" y2="12"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="right-side__img">
                    <img class="bottle-bg"
                         src="../../../assets/necklace.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </ng-template>
</swiper>