<div class="products">
    <div class="products__container">
        <div *ngFor="let item of bracelets" class="products__item">
            <div class="products__main-info">
                <div class="products__item-img">
                    <img [src]="productsService.getImagePath(item)">
                </div>
                <div class="products__info">
                    <div class="products__info-title">
                        {{ item.title }}
                    </div>
                    <div class="products__info-description">
                        {{ item.description }}
                    </div>
                    <div class="products__info-price">
                        Price: {{ item.price }}$
                    </div>
                </div>
            </div>
            <div class="products__button">
                <button [disabled]="!isLoggedIn"
                        [class.noselect]="!isLoggedIn" class="primary-button" (click)="productsService.addToCart(item)">Add to cart</button>
            </div>
        </div>
    </div>
</div>