@import '~styles/00-base/colors';
@import "~styles/01-tools/tools-colors";

.main-container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.app {
    background-color: color(primary);
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.nav-bar {
    background-color: color(almond);
    height: 60px;
    border-bottom: 2px solid color(smoky-black, 0.3);

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-link.logo {
            font-weight: bold;
            font-size: 35px;
        }
    }

    &__list-item.main-link {
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 0 10px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:after,
        &:before {
            content: "";
            position: absolute;
            display: block;
            border: 0 solid transparent;
        }

        &:after {
            width: 0;
            height: 80%;
            border-top: 2px solid color(smoky-black);
            border-bottom: 2px solid color(smoky-black);
            transition: all 0.3s ease;
        }

        &:before {
            width: 120%;
            height: 0;
            border-left: 2px solid color(smoky-black);
            border-right: 2px solid color(smoky-black);
            transition: all 0.5s ease;
        }

        &:hover::before {
            height: 80%;
        }

        &:hover::after {
            width: 120%;
        }
    }
}

.primary-button.login-button {
    color: color(smoky-black);
    border-color: color(smoky-black);
    padding: 6px 32px;

    &:hover {
        color: color(primary);
        border-color: color(smoky-black);
    }

    &:before {
        background: color(smoky-black);
    }
}

.user-tools {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;

    img {
        cursor: pointer;
        width: 28px;
        height: 28px;
    }
}

.shopping-cart {
    position: relative;

    & span {
        top: -10px;
        left: 29px;
        position: absolute;
    }
}