
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$decoration-store-primary: mat.define-palette(mat.$indigo-palette);
$decoration-store-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$decoration-store-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$decoration-store-theme: mat.define-light-theme((
  color: (
    primary: $decoration-store-primary,
    accent: $decoration-store-accent,
    warn: $decoration-store-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($decoration-store-theme);

@import "./styles/utiles";

body {
    color: color(smoky-black);
}

.directive-errorTooltip {
    display: flex;
    border-radius: 5px 5px 5px 5px;
    color: color(error);
    white-space: pre-wrap;
    position: absolute;
    padding: 2px 5px !important;
    z-index: 31;
    font-size: smaller;
    pointer-events: none;
    margin-left: 1px;
    line-height: 1;
}

.primary-snackbar {
    background-color: color(almond);
    color: color(smokey-black);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
